In [117]:
# importando bibliotecas

import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [118]:
# criando o navegador

driver = webdriver.Chrome()

In [119]:
# pegando a cotação do dólar

driver.get('https://www.google.com.br/')
driver.find_element_by_class_name('gLFyf').send_keys('cotação dólar')
driver.find_element_by_class_name('gLFyf').send_keys(Keys.ENTER)
elemento_dolar = driver.find_elements_by_class_name('DFlfde')[1]
cotacao_dolar = elemento_dolar.get_attribute('data-value')
print(cotacao_dolar)

<ipython-input-119-07a561f8a315>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_class_name('gLFyf').send_keys('cotação dólar')
<ipython-input-119-07a561f8a315>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_class_name('gLFyf').send_keys(Keys.ENTER)

5.566599999999999

<ipython-input-119-07a561f8a315>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  elemento_dolar = driver.find_elements_by_class_name('DFlfde')[1]

In [120]:
# pegando a cotação do euro

driver.get('https://www.google.com.br/')
driver.find_element_by_class_name('gLFyf').send_keys('cotação euro')
driver.find_element_by_class_name('gLFyf').send_keys(Keys.ENTER)
elemento_euro = driver.find_elements_by_class_name('DFlfde')[1]
cotacao_euro = elemento_euro.get_attribute('data-value')
print(cotacao_euro)

<ipython-input-120-b4adb649b4b9>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_class_name('gLFyf').send_keys('cotação euro')
<ipython-input-120-b4adb649b4b9>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_class_name('gLFyf').send_keys(Keys.ENTER)
<ipython-input-120-b4adb649b4b9>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  elemento_euro = driver.find_elements_by_class_name('DFlfde')[1]

6.31543611

In [121]:
# pegando a cotação do ouro

driver.get('https://www.melhorcambio.com/ouro-hoje')
elemento_ouro = driver.find_element_by_id('comercial')
cotacao_ouro = elemento_ouro.get_attribute("value")
print(cotacao_ouro)

<ipython-input-121-85e7bbb0aadc>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  elemento_ouro = driver.find_element_by_id('comercial')

324,68

In [122]:
# fechando o navegador

driver.close()

- Atualizando os preços e o cálculo do Preço Final

In [123]:
# importando a base de dados

produtos_df = pd.read_excel(r"C:\Users\Ariel\Documents\PYTHON HASHTAG\SEMANA PYTHON\AULA 4\Produtos.xlsx")
display(produtos_df)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [124]:
# atualizando a base de dados com os novos valores

for linha in produtos_df.index:
    if produtos_df.loc[linha, 'Moeda'] == 'Dólar':
        produtos_df.loc[linha, 'Cotação'] = round(float(cotacao_dolar),3)
    elif produtos_df.loc[linha, 'Moeda'] == 'Euro':
        produtos_df.loc[linha, 'Cotação'] = round(float(cotacao_euro),3)
    elif produtos_df.loc[linha, 'Moeda'] == 'Ouro':
        produtos_df.loc[linha, 'Cotação'] = round(float(cotacao_ouro.replace(',', '.')),3)
        

produtos_df['Preço Base Reais'] = produtos_df['Preço Base Original']*produtos_df['Cotação']
produtos_df['Preço Final'] = produtos_df['Preço Base Reais']*produtos_df['Ajuste']

display(produtos_df)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5.567,5566.94433,1.40,7793.722062
1,Carro Renault,4500.00,Euro,6.315,28417.50000,2.00,56835.000000
2,Notebook Dell,899.99,Dólar,5.567,5010.24433,1.70,8517.415361
3,IPhone,799.00,Dólar,5.567,4448.03300,1.70,7561.656100
4,Carro Fiat,3000.00,Euro,6.315,18945.00000,1.90,35995.500000
5,Celular Xiaomi,480.48,Dólar,5.567,2674.83216,2.00,5349.664320
6,Joia 20g,20.00,Ouro,324.680,6493.60000,1.15,7467.640000

### Agora vamos exportar a nova base de preços atualizada

In [125]:
# salvando a base de dados atualizada

produtos_df.to_excel('Produtos Atualizada.xlsx', index=False)
print('Planilha atualizada com sucesso!')

Planilha atualizada com sucesso!